[run]
branch = true
source = foundation
omit =
  */migrations/*
  */tests/*
  */settings.py
  */urls.py
  */wsgi.py

[report]
exclude_lines =
  pragma: no cover
  def __repr__
  def __str__
  def __unicode__
