*.sw[op]
*.py[cod]
__pycache__
*~
.sass-cache/

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
coverage.xml
.tox
nosetests.xml
htmlcov

# Translations
*.mo

# Database
*.sqlite3

# Node packages
node_modules

# Site data
media
staticfiles

# Extra
logfile
whoosh_index
.projectile
.env
.env.staging
.env.production
assets
