# Pinned requirements
Django==1.8.11
Pillow==3.1.1
aldryn-search==0.2.11
boto==2.39.0
cssmin==0.2.0
dj-database-url==0.4.0
django-appconf==1.0.1
django-classy-tags==0.7.2
django-cms==3.2.2
django-compressor==2.0
django-csp==2.0.3
django-countries==3.4.1
django-geoposition==0.2.2
django-haystack==2.4.1
django-heroku-memcacheify==1.0.0
django-markdown-deux==1.0.5
django-mptt==0.8.3
django-pagedown==0.1.1
django-pylibmc-sasl==0.2.4
django-reversion==1.8.5
#django-reversion==1.10.1
django-s3-folder-storage==0.3
django-secure==1.0.1
django-sekizai==0.9.0
django-storages==1.4
djangocms-admin-style==1.1.0
djangocms-file==1.0
djangocms-googlemap==0.4.0
djangocms-link==1.7
djangocms-picture==1.0.0
djangocms-text-ckeditor==2.9.0
gunicorn==19.4.5
html5lib==0.9999999
iso3166==0.7
markdown2==2.3.0
newrelic==2.60.0.46
psycopg2==2.6.1
elasticsearch==2.3.0
pylibmc==1.5.0
pystache==0.5.4
requests==2.9.1
simplejson==3.8.2
six==1.10.0
sorl-thumbnail==12.3
static==1.1.1
dj-static==0.0.6
unicodecsv==0.14.1

