# This file contains the direct requirements
# Use pip-compile to create requirements.txt from this

pip-tools==6.2.0

Django==2.2.16
aldryn-search==1.1.0
cssmin==0.2.0
dj-database-url==0.5.0
django-cms==3.9.0
django-compressor==2.4.1
django-csp==3.7
django-countries==7.2.1
django-haystack==3.0
django-redis==5.0.0
django-filer==2.0.2
django-formtools==2.3
django-markdown-deux==1.0.5
django-mptt==0.12.0
django-pagedown==2.2.0
django-reversion==4.0.0
django-s3-folder-storage==0.5
django-sekizai==2.0.0
django-treebeard==4.5.1
djangocms-admin-style==2.0.2
djangocms-file==3.0.0
djangocms-link==3.0.0
djangocms-picture==3.0.0
djangocms-text-ckeditor==4.0.0
easy-thumbnails==2.7.1
feedparser==6.0.8
gunicorn==20.1.0
iso3166==1.0.1
libsass==0.21.0
psycopg2==2.8.6
python-dotenv==0.18.0
requests==2.25.1
topicaxis-opengraph==0.5
whoosh==2.7.4

# needed by aldryn-video
aldryn-boilerplates==0.8.0
jsonfield==3.1.0
beautifulsoup4==4.9.3
micawber==0.5.3
