# Git repositories
git+https://github.com/divio/django-cms.git@8df74e79c39c08a2a763ebfd56bca3526ceba79e#egg=django-cms
git+https://github.com/aldryn/aldryn-search.git@cms3-compat#egg=aldryn-search
git+https://github.com/divio/djangocms-file.git@master#egg=djangocms-file

# Primary deps
Django>=1.6,<1.7
Pillow # required by djangocms-text-ckeditor
South
cssmin
dj-database-url
django-classy-tags
django-csp
django-haystack>=2.1,<2.2
django-heroku-memcacheify
django-markdown-deux
django-pagedown
django-reversion>=1.8
django-s3-folder-storage
django-secure
django_compressor
djangocms-googlemap
djangocms-link
djangocms-text-ckeditor>=2.1,<2.2
sorl-thumbnail

# Heroku deployment requirements
gunicorn
newrelic
psycopg2
pyelasticsearch>=0.6,<0.7 # required by django-haystack
requests>=2.2,<2.3 # required by django-haystack
static
