# This file contains the direct requirements
# Use pip-compile to create requirements.dev.txt from this

-c requirements.txt

pip-tools==7.3.0
# wheel is required for pip-tool but ver <= 0.37.1 is vulnerable.
# Remove once pip-tools update wheel version
wheel==0.40.0

flake8==6.0.0
django-webtest==1.9.10
coverage==7.2.7
