html,
body {
  @apply font-sans;
}

html {
  scroll-behavior: smooth;
}

body {
  overscroll-behavior-y: none;
}

img {
  @apply block max-w-full;
}

.true-w-full {
  @apply relative left-1/2 right-1/2 w-screen;

  margin-left: -50vw;
  margin-right: -50vw;
}

.root {
  @apply relative z-0 overflow-hidden min-h-screen;
}

.master {
  @apply relative px-8 mx-auto;

  max-width: 84rem;
}

.container {
  @apply relative grid grid-cols-12 gap-2.5 mx-auto;

  max-width: 84rem;
}

.sm-no-break {
  content: '';

  &:after {
    content: ' ';
  }

  @screen md {
    content: initial;

    &:after {
      content: initial;
    }
  }
}

.md-no-break {
  content: '';

  &:after {
    content: ' ';
  }

  @screen lg {
    content: initial;

    &:after {
      content: initial;
    }
  }
}
