@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'slick-carousel/slick/slick.scss';
@import 'jquery-modal/jquery.modal.css';

@import './base/_basic.css';
@import './base/_bg-circles.css';
@import './base/_buttons.css';
@import './base/_forms.css';
@import './base/_iframe-video.css';
@import './base/_links.css';

@import './base/_sections.css';
@import './base/_main-header.css';
@import './base/_main-footer.css';

@import './components/_block-txt.css';
@import './components/_modal.css';
@import './components/_slider.css';
@import './components/_switcher.css';
@import './components/_article.css';
@import './components/_banner.css';
@import './components/_card-author.css';
@import './components/_card-person.css';
@import './components/_grid-image.css';
@import './components/_list.css';
@import './components/_page-closing.css';
@import './components/_quote.css';
@import './components/_spotlight.css';
@import './components/_sect-highlights.css';
@import './components/_blog-opening.css';
@import './components/_content-grid.css';
@import './components/_feature-item.css';
@import './components/_headline.css';
@import './components/_page-opening.css';
@import './components/_gallery.css';
@import './components/_img-set.css';
@import './components/_article.css';
@import './components/_banner.css';
@import './components/_card-author.css';
@import './components/_card-person.css';
@import './components/_list.css';
@import './components/_page-closing.css';
@import './components/_site-map.css';
@import './components/_search.css';


:root {
 color-scheme: light !important;
}

@layer base {
  @font-face {
    font-family: 'HK Grotesk';
    src: url('/assets/fonts/hkgrotesk-regular.otf') format('opentype');
  }
  @font-face {
    font-family: 'HK Grotesk';
    src: url('/assets/fonts/hkgrotesk-bold.otf') format('opentype');
    font-weight: bold;
  }
  @font-face {
    font-family: 'HK Grotesk';
    src: url('/assets/fonts/hkgrotesk-italic.otf') format('opentype');
    font-style: italic;
  }
  @font-face {
    font-family: 'HK Grotesk';
    src: url('/assets/fonts/hkgrotesk-bolditalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
  }
  @font-face {
    font-family: 'Necto Mono';
    src: url('/assets/fonts/nectomono-regular.otf') format('opentype');
  }
}

@layer utilities {
  .true-w-full {
    @apply relative left-1/2 right-1/2 w-screen;

    margin-left: -50vw;
    margin-right: -50vw;
  }

  .text {
    &-h0 {
      @apply text-base-m-h0 md:text-base-h0;
    }

    &-h1 {
      @apply text-base-m-h1 md:text-base-h1;
    }

    &-h2 {
      @apply text-base-m-h2 md:text-base-h2;
    }

    &-h3 {
      @apply text-base-m-h3 md:text-base-h3;
    }

    &-h4 {
      @apply text-base-m-h4 md:text-base-h4;
    }

    &-h5 {
      @apply text-base-m-h5 md:text-base-h5;
    }

    &-hl-h0 {
      @apply font-mono text-base-m-h0 md:text-base-h0;
    }

    &-hl-h1 {
      @apply font-mono text-base-m-h1 md:text-base-h1;
    }

    &-hl-h2 {
      @apply font-mono text-base-m-h2 md:text-base-h2;
    }

    &-hl-h3 {
      @apply font-mono text-base-m-h3 md:text-base-h3;
    }

    &-hl-h4 {
      @apply font-mono text-base-m-h4 md:text-base-h4;
    }

    &-hl-h5 {
      @apply font-mono text-base-m-h5 md:text-base-h5;
    }

    &-okfn-lg {
      @apply text-base-m-okfn-lg md:text-base-okfn-lg;
    }

    &-okfn-md {
      @apply text-base-m-okfn-md md:text-base-okfn-md;
    }

    &-okfn-sm {
      @apply text-base-m-okfn-sm md:text-base-okfn-sm;
    }

    &-hl-okfn-lg {
      @apply font-mono text-base-m-okfn-lg md:text-base-okfn-lg;
    }

    &-hl-okfn-md {
      @apply font-mono text-base-m-okfn-md md:text-base-okfn-md;
    }

    &-hl-okfn-sm {
      @apply font-mono text-base-m-okfn-sm md:text-base-okfn-sm;
    }
  }
}
