.movement {
  position: relative;
  margin-top: 40px;
  &__wrap {
    margin-top: 50px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    @media (min-width: 992px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__desc {
    font-size: 16px;
    line-height: 22px;
    display: block;
    margin-top: 20px;
    @media (min-width: 992px) {
      width: 520px;
      font-size: 18px;
      line-height: 25px;
      margin-top: 40px;
    }
  }
  &__img {
    width: 296px;
    height: 296px;
    mix-blend-mode: multiply;
    @media (min-width: 992px) {
      width: calc(457px * 0.8);
      height: calc(457px * 0.8);
    }
    @media (min-width: 1200px) {
      width: 457px;
      height: 457px;
    }
    &-inner {
      width: 100%;
      height: 100%;
    }
  }
  &__subtitle {
    margin: 60px auto 0;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #000000;
    width: 257px;
    text-align: center;
    @media (min-width: 992px) {
      width: auto;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
    }
  }
  &__affiliates {
    margin: 60px 0 150px 0;
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(2, minmax(130px, auto));
    row-gap: 20px;
    column-gap: 20px;
    @media (min-width: 376px) {
      row-gap: 50px;
      column-gap: 40px;
    }
    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
      row-gap: 80px;
      column-gap: 50px;
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(5, 1fr);
    }
    img {
      transform: scale(0.6);
      @media (min-width: 376px) {
        transform: scale(0.85);
      }
      @media (min-width: 992px) {
        transform: scale(1);
      }
    }
  }
  .circle-pink {
    position: absolute;
    left: 0;
    transform: rotate(180deg);
    top: -248px;
    z-index: -1;
    width: calc(124px * 2);
    height: calc(248px * 2);
    @media (min-width: 992px) {
      transform: rotate(0deg);
      left: auto;
      right: 0;
      top: -350px;
      height: 700px;
      width: 448px;
    }
    &-img {
      width: 100%;
      height: 100%;
    }
  }
}
