.-has-bg-circle {
  @apply relative;

  &::before {
    content: '';
    @apply absolute w-[31.25rem] h-[31.25rem] bg-okfn-blue/70 rounded-full blur-[8.4375rem] mix-blend-darken;
  }

  /* 700px */
  &.-bg-circle-lg {
    &::before {
      @apply w-[43.75rem] h-[43.75rem];
    }
  }

  /* 500px more blur */
  &.-bg-circle-sm {
    &::before {
      @apply blur-[34rem];
    }
  }

  /* 500px more blur */
  &.-bg-circle-xs {
    &::before {
      @apply w-[5.875rem] h-[5.875rem] blur-[1.25rem];
    }
  }

  &.-bg-circle-okfn-green {
    &::before {
      @apply bg-okfn-green/80;
    }
  }

  &.-bg-circle-okfn-purple {
    &::before {
      @apply bg-okfn-purple/80;
    }
  }

  &.-bg-circle-okfn-yellow {
    &::before {
      @apply bg-okfn-yellow/80;
    }
  }
}

.-has-bg-circles {
  @apply relative;

  &::before {
    content: '';
    @apply absolute top-1/2 right-1/2 w-[8.75rem] h-[8.75rem] bg-okfn-blue rounded-full blur-[2rem] translate-x-4 -translate-y-1/2;
  }

  &::after {
    content: '';
    @apply absolute top-1/2 left-1/2 w-[9.375rem] h-[9.375rem] bg-okfn-green rounded-full blur-[2.25rem] mix-blend-multiply -translate-x-4 -translate-y-1/2;
  }
}
