{% load static %}
<footer class="main-footer">
  <div class="master">
    <div class="container">
      <div class="main-footer__head">
        <a href="/" class="lg">
          <img src="{% static '/images/lg-okfn-black.svg' %}" class="h-20" alt="Open Knowledge Foundation">
        </a>
      </div>
      <nav class="main-footer__nav -main">
        <ul>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">IP Policy</a></li>
          <li><a href="">Cookie Policy</a></li>
          <li><a href="">Terms of Use</a></li>
        </ul>
        <ul>
          <li><a href="">Code of Conduct</a></li>
          <li><a href="">Jobs</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">Request a Quote</a></li>
        </ul>
      </nav>
      <nav class="main-footer__nav -social">
        <ul>
          <li><a href="">Twitter</a></li>
          <li><a href="">YouTube</a></li>
          <li><a href="">Linkedin</a></li>
          <li><a href="">Newsletter</a></li>
        </ul>
      </nav>
      <div class="main-footer__disclaimers">
        <p class="mb-6">Source code available under the MIT license.</p>
        <a class="flex items-center gap-4 mb-6" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
          <img src="/images/icons/footer-cc.svg" class="block w-6" alt="Creative Commons">
          <img src="/images/icons/footer-attribution.svg" class="block w-6" alt="Creative Commons">
        </a>
        <p class="mb-6">Content on this site, made by Open Knowledge, is licensed under a Creative Commons Attribution 4.0 International License. </p>
        <p>Refer to our attributions page for attributions of other work on the site. </p>
      </div>
    </div>
  </div>
</footer>
