{% load static %}

<footer class="main-footer">
  <div class="master">
    <div class="container">
      <div class="main-footer__head">
        <a href="/" class="lg">
          <img src="{% static '/images/lg-okfn-black.svg' %}" class="h-20" alt="Open Knowledge Foundation">
        </a>
      </div>
      <nav class="main-footer__nav -main">
        <ul>
          <li><a href="/privacy-policy/">Privacy Policy</a></li>
          <li><a href="/ip-policy/">IP Policy</a></li>
          <li><a href="/cookie-policy/">Cookie Policy</a></li>
          <li><a href="/terms-of-use/">Terms of Use</a></li>
        </ul>
        <ul>
          <li><a href="/code-of-conduct/">Code of Conduct</a></li>
          <li><a href="/en/jobs/">Jobs</a></li>
          <li><a href="/contact/">Contact</a></li>
          <li><a href="/contact/">Request a Quote</a></li>
        </ul>
      </nav>
      <nav class="main-footer__nav -social">
        <ul>
          <li><a href="https://twitter.com/okfn" target="_blank">Twitter/X</a></li>
          <li><a href="https://fosstodon.org/@okfn" target="_blank">Mastodon</a></li>
          <li><a href="https://www.youtube.com/@OpenKnowledgeFoundation/videos" target="_blank">YouTube</a></li>
          <li><a href="https://www.linkedin.com/company/open-knowledge-foundation/" target="_blank">Linkedin</a></li>
          <li><a href="https://github.com/okfn" target="_blank">GitHub</a></li>
        </ul>
      </nav>
      <div class="main-footer__disclaimers">
        <p class="mb-6">Source code available under the MIT license.</p>
        <a class="flex items-center gap-4 mb-6" href="https://creativecommons.org/licenses/by/4.0/" target="_blank">
          <img src="/assets/images/icons/footer-cc.svg" class="block w-6" alt="Creative Commons">
          <img src="/assets/images/icons/footer-attribution.svg" class="block w-6" alt="Creative Commons">
        </a>
        <p class="mb-6">Content on this site, made by Open Knowledge, is licensed under a Creative Commons Attribution 4.0 International License. </p>
      </div>
    </div>
  </div>
</footer>
