{% load cms_tags %}

<ul class='nav-simple'>
  {% page_url "privacy-policy" as privacy_policy_url %}
  {% if privacy_policy_url %}
  <li><a href='{{ privacy_policy_url }}'>Privacy policy</a></li>
  {% endif %}
  {% page_url "ip-policy" as ip_policy_url %}
  {% if ip_policy_url %}
  <li><a href='{{ ip_policy_url }}'>IP policy</a></li>
  {% endif %}
  {% page_url "cookie-policy" as cookie_policy_url %}
  {% if cookie_policy_url %}
  <li><a href='{{ cookie_policy_url }}'>Cookie policy</a></li>
  {% endif %}
  {% page_url "terms-of-use" as tou_url %}
  {% if tou_url %}
  <li><a href='{{ tou_url }}'>Terms of use</a></li>
  {% endif %}
  {% page_url "jobs" as jobs_url %}
  {% if jobs_url %}
  <li><a href='{{ jobs_url }}'>Jobs</a></li>
  {% endif %}
  {% page_url "contact" as contact_url %}
  {% if contact_url %}
  <li><a href='{{ contact_url }}'>Contact</a></li>
  {% endif %}
</ul>
<p>
  This web page was built with love by the staff at Open Knowledge, using
  <a href="https://www.djangoproject.com/">Django</a>
  and
  <a href="https://www.django-cms.org/">Django CMS</a>.
</p>
