{% load cms_tags %}

    <footer class="footer">
      <div class="container">
        <div class="footer__primary">
          <a href="#" class="footer__logo">
            <img
              src="/assets/img/footer/okfn-logo-landscape-white-bw-468x131.png"
              alt="OKFN logo"
              class="footer__logo-img"
            />
          </a>
          <ul class="footer__menu">
            <li class="footer__menu-item">
              <a href="/privacy-policy/" class="footer__menu-link">Privacy policy</a>
            </li>
            <li class="footer__menu-item">
              <a href="/ip-policy/" class="footer__menu-link">IP policy</a>
            </li>
            <li class="footer__menu-item">
              <a href="/cookie-policy/" class="footer__menu-link">Cookie policy</a>
            </li>
            <li class="footer__menu-item">
              <a href="/terms-of-use/" class="footer__menu-link">Terms of use</a>
            </li>
            <li class="footer__menu-item">
              <a href="/code-of-conduct/" class="footer__menu-link">Code of Conduct</a>
            </li>
            <li class="footer__menu-item">
              <a href="/about/jobs/" class="footer__menu-link">Jobs</a>
            </li>
            <li class="footer__menu-item">
              <a href="/contact/" class="footer__menu-link">Contact</a>
            </li>
          </ul>
        </div>
        <div class="footer__secondary">
          <p class="footer__credits">
            <a
              href="https://github.com/okfn/foundation/"
              title="Site source code"
              class="footer__credits-link"
            >
              Source code
            </a>
            available under the MIT license.
          </p>
          <p class="footer__credits">
            <a
              class="footer__credits-link"
              rel="license"
              href="https://creativecommons.org/licenses/by/4.0/"
            >
              <img src="/assets/img/footer/cc-icon-1.png" alt="copyright" />
              <img src="/assets/img/footer/cc-icon-2.png" alt="copyright" />
            </a>
            Content on this site, made by
            <a href="https://okfn.org/" class="footer__credits-link">
              Open Knowledge
            </a>
            , is licensed under a
            <a
              class="footer__credits-link"
              rel="license"
              href="https://creativecommons.org/licenses/by/4.0/"
            >
              Creative Commons Attribution 4.0 International License
            </a>
          </p>
          <p class="footer__credits">
            Refer to our
            <a class="footer__credits-link" href="/attribution"> attributions page </a>
            for attributions of other work on the site.
          </p>
        </div>
      </div>
    </footer>

