{% load menu_tags %}

<ul class="primary nav">
    <li><a href="/team">Team</a></li>
    <li><a href="/projects">Projects</a></li>
  <li>
    <label for="search">
      <span class="icon-search" aria-hidden="true"></span>
      <span class="sr-only">Search</span>
    </label>
  </li>
</ul>
<!--
<div class='container'>
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand visible-xs" href="#">Menu</a>
    <a class="navbar-brand visible-xs" href="#">Menu</a>
  </div>
  <div id='navbar-main-collapse' class='collapse navbar-collapse'>
    <ul class='nav navbar-nav'>
      {% show_menu_below_id "home" 0 0 0 0 "menu/menu.html" %}
    </ul>
    <ul class='nav navbar-nav visible-xs'>
      {% include 'includes/nav_secondary.html' %}
    </ul>
    <form class="navbar-form navbar-right" action="{% url 'haystack_search' %}" method="get" role="search">
      <div class="input-group input-group-search">
        <input type="text" name="q" class="form-control">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default">
            <span class="fa fa-lg fa-search"></span>
            <span class="sr-only">Submit</span>
          </button>
        </span>
      </div>
    </form>
  </div>
</div> -->
