{% load markdown_deux_tags %}
<h4>{{ person.name }}</h4>
<div class="row">
  <div class="col-md-2">
    <img class="img-responsive" src="{{ MEDIA_URL }}{{ person.photo }}" alt="{{ person.name }}" />
  </div>
  <div class="col-md-8">
    {% for membership in person.unitmembership_set.all %}
    <p>
      <i class="fa fa-hand-o-right fa-large"></i> <a href="{% url 'units' %}">{{ membership.unit.name }} ({{ membership.title }})</a>
    </p>
    {% endfor %}
    {% for membership in person.boardmembership_set.all %}
    <p>
      <i class="fa fa-hand-o-right fa-large"></i> <a href="{% url membership.board.slug %}">{{ membership.board.name }} ({{ membership.title }})</a>
    </p>
    {% endfor %}
    {{ person.description|markdown }}
  </div>
</div>
