{% extends "general.html" %}
{% load i18n %}

{% block title %}{% trans 'Page not found' %}{% endblock %}

{% block pagebanner %}
<div class='banner'>
  <div class='container'>
    <h2>404: {% trans 'Page not found' %}</h2>
  </div>
</div>
{% endblock %}

{% block body %}
<div class='row'>
  <div class='main col-md-12'>
    <form action="{% url 'haystack_search' %}" method="get" role="search">
      <p>
        {% blocktrans %}
        We're sorry, but the requested page could not be found. If you think there
        should have been something here, you can try searching for it:
        {% endblocktrans %}

        <div class="form-group">
          <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search">
            <span class="input-group-append">
              <button type="submit" class="btn btn-secondary">
                <span class="icon-search"></span>
                <span class="sr-only">Submit</span>
              </button>
            </span>
          </div>
        </div>
      </p>
    </form>
  </div>
</div>
{% endblock %}
