{% extends "base_error.html" %}

{% block title %}500 Server Error{% endblock %}

{% block body %}
  <h2>500 Server Error</h2>
  <p>Oh dear. That didn't really go as planned.</p>
  <p>
    Something has gone a bit wrong behind the scenes while assembling this page.
    Don't worry, though, we have already been notified of the problem and will
    be looking into it as soon as we can.
  </p>
  <p>
    If this error persists, please contact us at <tt>sysadmin</tt> at this
    domain.
  </p>
{% endblock %}
