{% load cms_tags %}
{% load sekizai_tags %}

<!DOCTYPE html>
<html lang='en-gb'>
<head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{% block title %}SET A TITLE{% endblock %}</title>

    {% block head-icons %}{% endblock %}
    {% block head-links %}{% endblock %}
    {% block head-alternate %}{% endblock %}
    {% render_block "css" %}
    {% block head-css %}{% endblock %}
    {% block head-meta %}
        {% block head-meta-fb-open-graph %}

            <meta property="og:title" content="{% page_attribute 'page_title' %}"/>
            <meta property="og:type" content="website"/>
            <meta property="og:url"
                  content="{% if request.is_secure %}https://{% else %}http://{% endif %}{{ request.get_host }}{{ request.get_absolute_url }}"/>
            <meta property="og:description"
                  content="{% page_attribute 'meta_description' %}"/>
            <meta property="og:image"
                  content="{{ STATIC_URL }}img/OKF-logo-white-background.png"/>

            {% block head-meta-fb-open-graph-extra %}{% endblock %}
        {% endblock %}
    {% endblock %}
    {% block head-scripts %}{% endblock head-scripts %}
</head>
<body {% block body-attributes %}{% endblock %} class='{% block body-class %}{% endblock %}'>
{# django-cms toolbar injector -- this must remain in base #}
{% cms_toolbar %}

{% block body-sheath %}{% endblock %}

{% render_block "js" %}
<script>
    {% block javascript-variables %}{% endblock %}
</script>
{% block javascript-libraries %}{% endblock %}
{% block javascript-asynchronous %}{% endblock %}
<!-- Mailchimp popup -->
<script type="text/javascript" src="https://downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us9.list-manage.com","uuid":"73f922f8e68e21a10efa21f02","lid":"32d370a7fc","uniqueMethods":true}) })</script>
</body>
</html>
