<!DOCTYPE html>
<html lang='en-gb'>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{{ site_name }}: {% block title %}SET A TITLE{% endblock %}</title>

    {% block head-icons %}{% endblock %}
    {% block head-links %}{% endblock %}
    {% block head-alternate %}{% endblock %}
    {% block head-css %}{% endblock %}
    {% block head-meta %}{% endblock %}
  </head>
  <body {% block body-attributes %}{% endblock %} class='{% block body-class %}{% endblock %}'>
    {% block body-sheath %}{% endblock %}
  </body>
</html>
