{% extends "cms_default.html" %}
{% load cms_tags %}
{% load i18n %}
{% load static %}
{% block head-scripts %}<script src="http://www.youtube.com/player_api"></script>{% endblock head-scripts %}
{% block body-class %}home-template{% endblock %}
{% block pagebanner %}
<section class="banner">
  <div class="container">
    <div class="banner_text">
      {% placeholder "blurb" %}
    </div>
    <div class="banner_video">
      <div class="banner_video-inner">
        <span class="plugin_picture">
          {% placeholder "banner thumb" %}
        </span>
        {% placeholder "banner video" %}
        <button class="banner_video-play btn" aria-label="Play video" id="play-home-video">
          <span class="icon-arrow-right" aria-hidden="true"></span>
        </button>
        <button class="banner_video-close btn" aria-label="Close video" id="close-home-video">
          <span class="icon-close" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block body %}
<section class="features">
  {% placeholder "features" %}
</section>

<section>
  <h2 class="home_section-heading">Latest updates</h2>
  {% placeholder featured_news %}
</section>

{% endblock %}

{% block pre_footer %}{% endblock %}

{% block javascript-asynchronous %}
{% endblock %}

{# Don't display the breadcrumb on the homepage #}
{% block breadcrumb-sheath %}{% endblock %}
