{% extends "cms_default.html" %}
{% load cms_tags %}
{% load i18n %}
{% load staticfiles %}

{% block body-class %}home-template{% endblock %}
{% block pagebanner %}
<section class="banner">
  <div class="container">
    <div class="banner_text">
      {% placeholder "blurb" %}
    </div>
    <div class="banner_video">
      <div class="banner_video-inner">
        <!-- video -->
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block body %}
<section class="features">
  {% placeholder "features" %}
</section>

<section>
  <h2 class="home_section-heading">Latest updates</h2>
  {% placeholder featured_news %}
</section>

{% endblock %}

{% block pre_footer %}{% endblock %}

{% block javascript-asynchronous %}
{% endblock %}

{# Don't display the breadcrumb on the homepage #}
{% block breadcrumb-sheath %}{% endblock %}
