{% extends "general.html" %}
{% load cms_tags %}
{% load menu_tags %}

{% block title %}
{% page_attribute "page_title" %}
{% endblock %}

{% block body-class %}services landing page-template{% endblock %}
{% block main-class %}{% endblock %}
{% block template-scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.simple-text-rotator.js"
        charset="utf-8"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/owl.carousel/dist/owl.carousel.min.js"></script>
{% endblock template-scripts %}
{% block template-js %}{% include 'includes/services.js' %}{% endblock template-js %}
{% block pagebanner %}
<div class="banner">
  {% include 'includes/banner-pattern.html' %}
  <div class="container">
    {% block pagebanner-inner %}
      {% placeholder "headline" %}
      {% placeholder "blurb" %}
      <div class="cta">
        {% placeholder "calls to action" %}
      </div>
    {% endblock %}
  </div>
</div>
{% placeholder "banner image" inherit %}
{% endblock %}

{% block body %}
<section id="more" class="primary-section">
  <div class="container">
    <div class="intro">
      <div class="text">
        {% placeholder "section one intro" %}
      </div>
    </div>
    <div class="features">
      {% placeholder "section one features" %}
    </div>
  </div>
</section>

<section id="services" class="primary-section">
  <div class="container">
    <div class="intro">
      <div class="text">
        {% placeholder "section two intro" %}
      </div>
      <nav class="component-nav">
        <ul class="prev-next">
          <li class="prev">
            <span>Previous</span>
          </li>
          <li class="next">
            <span>Next</span>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="components">
    {% placeholder "section two items" %}
  </div>
</section>

<section class="secondary-section">
  <div class="container">
    <div class="content">
      {% placeholder "section three" %}
    </div>
    <div class="testimonials owl-carousel">
      {% placeholder "testimonials" %}
    </div>
  </div>
</section>

<section class="logos">
  <div class="container">
    {% placeholder "client logos" %}
  </div>
</section>
{% endblock %}

{% block pre_footer %}
<section class="cta">
  <div class="container">
    <div class="text">
      {% static_placeholder "services call to action text" %}
    </div>
    <div class="link">
      {% static_placeholder "services call to action link" %}
    </div>
  </div>
</section>
{% endblock %}

{% block breadcrumb %}
{% show_breadcrumb %}
{% endblock %}
