{% extends "cms_default.html" %}
{% load cms_tags %}

{% block body-class %}contact-template{% endblock %}

{% block body %}

<section class="sect sect-features -tighten-1 mb-20">
  <div class="sect__content">

    <div id="general">
      <div class="intro">
        {% placeholder "general" %}
      </div>
    </div>

    <div id="service">
      <div class="intro">
        {% placeholder "service" %}
      </div>

      <form id="service_form" class="form" method="post">
        {% csrf_token %}
          <div class="input-fake flex items-center mb-5">
          <input id="type" type='hidden' name="type" value="Service"/>
          <label class="font-bold mr-10">Name:
          </label>
            {{ form.name }}
            {{ form.name.errors }}

          </div>
          <div class="input-fake flex items-center mb-5">
          <label class="font-bold mr-10">Organisation:
          </label>
            {{ form.organisation }}
            {{ form.organisation.errors }}
          </div>
          <div class="input-fake flex items-center mb-5">
          <label class="font-bold mr-10">Email address:
          </label>
            {{ form.email }}
            {{ form.email.errors }}

          </div>
          <div class="input-fake flex items-left flex-col mb-5">
        <label class="message font-bold">How can we help?
        </label>
          {{ form.message.errors }}
          {{ form.message }}

          </div>
        <button type="submit" class="btn btn-primary btn-lg">Send</button>
      </form>
    </div>

  </div>
</div>
</section>

{% endblock %}

{% block template-scripts %}
{% endblock template-scripts %}
