{% extends "cms_default.html" %}
{% load cms_tags %}
{% block body-class %}article-template{% endblock %}

{% block body %}
<section class="sect sect-generic -tighten-1 mx-auto mb-20 text-center">
  <div class="sect__content">
  <aside>
    <nav id="side-nav" class="side-nav">
      {% include 'includes/sidebar.html' %}
    </nav>
    <div>
      {% static_placeholder "sitewide sidebar" %}
      {% placeholder "sidebar" inherit %}
    </div>
  </aside>
  <article>
    {% block article %}
    {% placeholder "main" %}
    {% endblock %}
  </article>
  </div>
</section>

{% include 'includes/cta.html' %}
{% endblock %}
{% block template-js %}$( ".carousel-item" ).first().addClass( "active" );{% endblock template-js %}
