{% extends "general.html" %}
{% load cms_tags %}
{% load menu_tags %}

{% block title %}
{% page_attribute "page_title" %}
{% endblock %}

{% block body-class %}campaign-template{% endblock %}
{% block main-class %}{% endblock %}
{% block template-scripts %}
{% endblock template-scripts %}
{% block pagebanner %}
<section class="campaign_intro container">
  <div class="campaign_about">
    {% placeholder "introduction" %}
    <ul class="campaign_cta">
      <li data-link="video"><a href="#video">Watch video</a></li>
      <li data-link="signup"><a href="#signup">Sign up for updates</a></li>
    </ul>
  </div>
  <div class="campaign_video" id="video">
    {% placeholder "video" %}
  </div>
</section>
{% endblock %}

{% block body %}
<section class="container campaign_signup" id="signup">
  <div>
    {% placeholder "form text" %}
    <p class="indicates-required"><span class="asterisk">*</span> indicates required field.</p>
  </div>

    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup" class="campaign_form">
      <form action="https://okfn.us9.list-manage.com/subscribe/post?u=73f922f8e68e21a10efa21f02&amp;id=817306beec" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <div>
          <div class="mc-field-group">
          <label for="mce-EMAIL">Email address  <span class="asterisk">*</span>
          </label>
          <input type="email" value="" name="EMAIL" class="required email form-control" id="mce-EMAIL">
          </div>
          <div class="mc-field-group">
          <label for="mce-FNAME">First name  <span class="asterisk">*</span>
          </label>
          <input type="text" value="" name="FNAME" class="required form-control" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
          <label for="mce-LNAME">Last name  <span class="asterisk">*</span>
          </label>
          <input type="text" value="" name="LNAME" class="required form-control" id="mce-LNAME">
          </div>
        </div>
        <div>

         <div class="mc-field-group">
            <strong>Monthly newsletter </strong>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" name="group[14][1]" id="mce-group[14]-14-0">
                <label class="form-check-label" for="mce-group[14]-14-0">Yes, I want to receive the Open Knowledge Foundation newsletter</label>
              </div>
          </div>
          <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
              <div class="content__gdpr">
                <strong>Permissions</strong>
                <p>Please tick the box below to confirm that you give us permission to contact you via:</p>
                <fieldset class="mc_fieldset gdprRequired mc-field-group form-check" name="interestgroup_field">
                  
                  <input type="checkbox" id="gdpr_66" name="gdpr[66]" value="Y" class="av-checkbox gdpr form-check-input">
                  <label class="checkbox subfield form-check-label" for="gdpr_66">Email</label>
                </fieldset>
                <p>By clicking subscribe, you agree that we may process your information in accordance with our privacy policy.</p>
          <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_73f922f8e68e21a10efa21f02_817306beec" tabindex="-1" value=""></div>
              <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
    <!--End mc_embed_signup-->

 
</section>

{% endblock %}

{% block breadcrumb %}
{% show_breadcrumb %}
{% endblock %}

