{% extends "cms_article.html" %}
{% load cms_tags %}
{% block body-class %}services article-template{% endblock %}
{% block pagebanner %}
<div class='banner'>
  {% include 'includes/banner-pattern.html' %}
  <div class='container'>
    {% block pagebanner-inner %}
      {% placeholder "headline" inherit or %}<h2>{% page_attribute "page_title" %}</h2>{% endplaceholder %}
      {% placeholder "blurb" inherit %}
    {% endblock %}
  </div>
</div>
{% placeholder "banner image" inherit %}
{% endblock %}
{% block pre_footer %}
<section class="cta">
  <div class="container">
    <div class="text">
      {% static_placeholder "services call to action text" %}
    </div>
    <div class="link">
      {% static_placeholder "services call to action link" %}
    </div>
  </div>
</section>
{% endblock %}
