{% extends "cms_default.html" %}
{% load cms_tags %}

{% block body-class %}childlist-template{% endblock %}

{% block body %}
<section id="more" class="primary-section">
  <div class="article-list">
  {% for page in request.current_page.get_child_pages %}
    {% page_attribute "page_title" page as child_title %}
    {% page_attribute "meta_description" page as child_description %}
    {% page_attribute "slug" page as child_slug %}
    {% if child_description != "None" and child_description != "" %}
    <article class="article-list-item">
      <div class="inner">
        <div class="text">
          <h1 class="title"><a class="title_link" href="{{ child_slug }}">{{ child_title }}</a></h1>
          <div class="description">
            {{ child_description }}
          </div>
        </div>
      </div>
    </article>
    {% endif %}
  {% endfor %}
  </div>
</section>
{% endblock %}
