{% extends "cms_default.html" %}
{% load cms_tags %}
{% load i18n %}

{% block pagebanner %}
<div id='page-banner' class='homepage-splash-banner'>
  <div class='container'>
    {% placeholder "blurb" %}
  </div>
</div>
<div id='page-banner-signup'>
  <div class='container'>
    <form class='form-horizontal' action='' method='post' role='form'>
      <div class='col-sm-4 col-lg-3'>
        <label class='control-label' for='name'>
          {% trans 'Join our mailing list:' %}
        </label>
      </div>
      <div class='col-sm-3 col-lg-4'>
        <input type='text' class='form-control' name='name' placeholder='name'>
      </div>
      <div class='col-sm-3 col-lg-4'>
        <input type='email' class='form-control' name='email' placeholder='email address'>
      </div>
      <div class='col-sm-2 col-lg-1'>
        <button type='submit' class='btn btn-default'>submit</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}

{% block body %}
<div class='row'>
  <div class='col-sm-8'>
    <div class='feature-block-img feature-globe'></div>
  </div>
  <div class='col-sm-4'>
    <div class='feature-block-text feature-block-primary'>
      {% placeholder "feature 1" %}
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-8 col-sm-push-4'>
    <div class='feature-block-img feature-city'></div>
  </div>
  <div class='col-sm-4 col-sm-pull-8'>
    <div class='feature-block-text feature-block-text-left feature-block-secondary'>
      {% placeholder "feature 2" %}
    </div>
  </div>
</div>
<div class='row'>
  <div class='col-sm-8'>
    <div class='feature-block-img feature-okfest'></div>
  </div>
  <div class='col-sm-4'>
    <div class='feature-block-text feature-block-tertiary'>
      {% placeholder "feature 3" %}
    </div>
  </div>
</div>
{% endblock %}
