{% extends "base.html" %}

{% load compress %}
{% load cms_tags %}
{% load menu_tags %}

{% block head-icons %}
<link rel="icon" href="{{STATIC_URL}}favicon.ico">
{% endblock %}

{% block head-css %}
{% compress css %}
<link type="text/sass" rel="stylesheet" href="{{ STATIC_URL }}scss/style.scss" charset="utf-8">
{% endcompress %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.6.4/css/jquery.mmenu.all.min.css">
{% endblock %}

{% block body-sheath %}
<div id="page">
<header class="site-header">
  <div class="container">
    <h1 class="brand">
      <a href="/">
        <img src="https://a.okfn.org/img/oki/standard-white-334x344.png" alt="Open Knowledge International">
      </a>
    </h1>

    <a href="#mmenu" class="show-menu">
      <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
      <span class="sr-only">Open the menu</span>
    </a>

    <nav>
      <ul class="secondary nav">
        {% include 'includes/nav_secondary.html' %}
      </ul>
      <ul class="primary nav">
        {% show_menu_below_id "home" 0 0 0 0 "menu/menu.html" %}
        <li>
          <label for="search">
            <span class="icon-search" aria-hidden="true"></span>
            <span class="sr-only">Search</span>
          </label>
        </li>
      </ul>
    </nav>
  </div>

  <div class="search-bar">
      {% include 'includes/search.html' %}
  </div>
</header>

  {% block pagebanner %}{% endblock %}

  <div id='main' class='container {% block main-class %}{% endblock %}'>
    {% block body %}{% endblock %}
  </div>

<section class="newsletter">
    <form class="container" role="form" action="//okfn.us9.list-manage.com/subscribe/post?u=73f922f8e68e21a10efa21f02&amp;amp;id=32d370a7fc" target="_blank" method="post">
      <div class="legend">
        <legend>
          Join our mailing list:
        </legend>
      </div>
      <div class="input">
        <label class="sr-only" for="name">Name:</label>
        <input class="form-control" id="name" name="MMERGE3" placeholder="name" type="text">
      </div>
      <div class="input">
        <label class="sr-only" for="email">Email address:</label>
        <input class="form-control" id="email" name="EMAIL" placeholder="email address" type="email">
      </div>
      <div class="button">
        <input name="b_73f922f8e68e21a10efa21f02_32d370a7fc" value="" type="hidden">
        <button type="submit" class="btn btn-primary">Subscribe</button>
      </div>
    </form>
  </section>
  <footer class="site-footer">
    <div class='container'>
      {% include 'includes/footer.html' %}
    </div>
  </footer>
</div>

<nav id="mmenu">
 <ul>
    {% include 'includes/nav.html' %}
    {% include 'includes/nav_secondary.html' %}
 </ul>
</nav>
{% endblock %}

{% block javascript-libraries %}
{% compress js %}

{% comment %}
  NB: The inline script tags here get compiled into the single JavaScript file
  for the page, so changes to these *will only show up* if the application is
  redeployed.

  The reason for this is simple. If we excise all inline script tags from our
  pages, then we can serve in production with a Content-Security-Policy which
  includes `unsafe-inline`, thus protecting ourselves from a wide range of XSS
  attacks.
{% endcomment %}

<script>
  window.WebFontConfig = {
    google: { families: ['Lato:300,400italic,400,700'] }
  };
</script>

{% if GOOGLE_ANALYTICS_TRACKING_ID and GOOGLE_ANALYTICS_DOMAIN %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create',
     '{{ GOOGLE_ANALYTICS_TRACKING_ID }}',
     '{{ GOOGLE_ANALYTICS_DOMAIN }}');
  ga('send', 'pageview');
</script>
{% endif %}

<script type="text/javascript" src="{{ STATIC_URL }}vendor/jquery/dist/jquery.js"
  charset="utf-8"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/webfontloader/webfontloader.js"
  charset="utf-8"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/bootstrap/dist/js/bootstrap.js"
  charset="utf-8"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/bootstrap/js/dropdown.js"
  charset="utf-8"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/bootstrap/js/collapse.js"
  charset="utf-8"></script>
<script type="text/javascript" src="{{ STATIC_URL }}vendor/letteringjs/jquery.lettering.js"
  charset="utf-8"></script>
  <script>
     $(function () {
       // show / hide search bar
       $('body > #page > .site-header nav label[for="search"]').click(function(){
         $( 'body > #page > .site-header .search-bar' ).addClass( "active" );
         console.log('clicked')
       });
       $('body > #page > .site-header .search-bar .cancel').click(function(event){
         event.preventDefault();
         $( 'body > #page > .site-header .search-bar' ).removeClass( "active" );
       });


       function loadScript(src){
         var theScript = document.createElement('script');
             theScript.type = 'text/javascript';
             theScript.src = src;

         var s = document.getElementsByTagName('script')[0];
             s.parentNode.insertBefore(theScript, s);
       };

       (function() {
            var hamBurgerButton = document.getElementsByClassName('show-menu')[0];
            var display = window.getComputedStyle(hamBurgerButton,null).getPropertyValue("display");
            var bigScreen = (display === 'none');
            if( bigScreen ) {
              loadScript('{{ STATIC_URL }}vendor/jQuery.mmenu/dist/js/jquery.mmenu.oncanvas.min.js');
              $(window).load(function(){
                $("#side-nav").mmenu({
                  // options
                }, {
                  // configuration
                  classNames: {
                    selected: "active"
                  },
                  "offCanvas": false
                });
              });
            }
            else{
              loadScript('{{ STATIC_URL }}vendor/jQuery.mmenu/dist/js/jquery.mmenu.min.js');
              $(window).load(function(){
                $("#mmenu").mmenu({
                  // options
                  offCanvas: {
                    position  : "right"
                  },
                  searchfield: true,
                  extensions: ["theme-dark"]
                }, {
                  // configuration
                  classNames: {
                    selected: "active"
                  }
                });
              });
            }
          })()

       //external links
       $('a[rel*=external]').click( function() {
         window.open(this.href);
         return false;
       });
     });
   </script>

{% endcompress %}
{% endblock %}
