{% extends "general.html" %}
{% load i18n %}
{% load menu_tags %}

{% block title %}
{% trans 'Sitemap' %}
{% endblock %}

{% block messages %}
<div id='page-banner'>
  <div class='container'>
    <h2>{% trans 'Sitemap' %}</h2>
    <p>
    {% blocktrans %}
    A full overview of every page on the site
    {% endblocktrans %}
    </p>
  </div>
</div>
{% endblock %}

{% block body %}
<div class='row'>
  <div class='main col-md-12'>
    <ul>
      {% show_menu 0 100 100 100 "menu/menu_sitemap.html" %}
    </ul>
  </div>
</div>
{% endblock %}

{% block breadcrumb %}
<li><a href='/'>{% trans 'Home' %}</a></li>
<li class="active">{% trans 'Sitemap' %}</li>
{% endblock %}
