<!DOCTYPE html>
<html lang="en">
  {{> head }}
  <link rel="stylesheet" href="styles/main.css">


  <body>
    <div class="root">
      <div class="master">
        <div class="container">
          <header class="col-span-full flex justify-between items-center py-5 mb-20 border-b border-gray-200">
            <img src="/images/lg-okfn.svg" class="h-[5.625rem]" alt="Open Knowledge Foundation">
            <h1 class="text-h1">Styles</h1>
          </header>

          <!-- * COLORS -->
          <div class="col-span-full pb-20 mb-20 border-b border-gray-200">
            <h2 class="text-h2 font-bold mb-5">Colors</h2>
            <ul class="flex flex-wrap items-center gap-5 text-center">
              {{#each colors}}
              <li>
                <div class="w-40 h-40 mb-3 rounded-md bg-{{this.code}} border border-gray-200"></div>
                <strong class="block">{{this.name}}</strong>
                <em class="block mb-4 text-xs">{{this.hex}}</em>
                <span class="block text-xs">CSS class: <br> [text|bg]-{{this.code}}</span>
              </li>
              {{/each}}
            </ul>
          </div>

          <!-- * BG Circles -->
          <div class="col-span-full pb-20 mb-20 border-b border-gray-200">
            <h2 class="text-h2 font-bold mb-5">Background Circles</h2>
            <ul class="flex flex-wrap items-center gap-5 mb-8 text-center">
              {{#each colors}}
                {{#if this.circle}}
                <li>
                  <div class="w-40 h-40 mb-3 mx-auto -has-bg-circle -bg-circle-xs -bg-circle-{{this.code}} before:top-1/2 before:left-1/2 before:-translate-x-1/2 before:-translate-y-1/2"></div>
                  <strong class="block">{{this.name}}</strong>
                  <em class="block mb-4 text-xs">{{this.hex}}</em>
                  <span class="block text-xs">CSS class (applied on container): <br> -has-bg-circle -bg-circle-{{this.code}}</span>
                </li>
                {{/if}}
              {{/each}}
            </ul>

            <table class="w-full border-collapse text-center">
              <thead class="text-xs font-bold uppercase bg-gray-200">
                <tr>
                  <th class="p-3">Size</th>
                  <th class="p-3">Dimensions</th>
                  <th class="p-3">CSS Class</th>
                  <th class="p-3">Blur</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="p-3 py-5 border border-gray-200">Default</td>
                  <td class="p-3 py-5 border border-gray-200">
                    500px x 500px <br>
                    <span class="text-xs">
                      (31.25rem x 31.25rem)
                    </span>
                  </td>
                  <td class="p-3 py-5 border border-gray-200">-has-bg-circle</td>
                  <td class="p-3 py-5 border border-gray-200">
                    135px <br>
                    (8.4375rem)
                  </td>
                </tr>

                <tr>
                  <td class="p-3 py-5 border border-gray-200">Small</td>
                  <td class="p-3 py-5 border border-gray-200">
                    500px x 500px <br>
                    <span class="text-xs">
                      (31.25rem x 31.25rem)
                    </span>
                  </td>
                  <td class="p-3 py-5 border border-gray-200">-has-bg-circle -bg-circle-sm</td>
                  <td class="p-3 py-5 border border-gray-200">
                    544px <br>
                    (34rem)
                  </td>
                </tr>

                <tr>
                  <td class="p-3 py-5 border border-gray-200">Large</td>
                  <td class="p-3 py-5 border border-gray-200">
                    700px x 700px <br>
                    <span class="text-xs">
                      (43.75rem x 43.75rem)
                    </span>
                  </td>
                  <td class="p-3 py-5 border border-gray-200">-has-bg-circle -bg-circle-lg</td>
                  <td class="p-3 py-5 border border-gray-200">
                    135px <br>
                    (8.4375rem)
                  </td>
                </tr>

                <tr>
                  <td class="p-3 py-5 border border-gray-200">Extra small</td>
                  <td class="p-3 py-5 border border-gray-200">
                    94px x 94px <br>
                    <span class="text-xs">
                      (5.875rem x 5.875rem)
                    </span>
                  </td>
                  <td class="p-3 py-5 border border-gray-200">-has-bg-circle -bg-circle-xs</td>
                  <td class="p-3 py-5 border border-gray-200">
                    20px <br>
                    (1.25rem)
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- * HEADLINES -->
          <div class="col-span-full pb-20 mb-20 border-b border-gray-200">
            <h2 class="text-h2 font-bold mb-5">Headlines</h2>
            <table class="w-full border-collapse">
              <thead class="text-xs font-bold uppercase bg-gray-200">
                <tr>
                  <th class="p-3">Text</th>
                  <th class="p-3">CSS Class</th>
                  <th class="p-3">Font size</th>
                  <th class="p-3">Line height</th>
                  <th class="p-3">Font weight</th>
                </tr>
              </thead>
              <tbody>
                {{#each headlines}}
                <tr>
                  <td class="px-3 py-5 font-bold text-{{this.code}} border border-gray-200">Headline {{@index}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">font-bold text-{{this.code}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">{{this.size}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">{{this.height}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">{{this.weight}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>

          <!-- * HIGHLIGHTED HEADLINES -->
          <div class="col-span-full pb-20 mb-20 border-b border-gray-200">
            <h2 class="text-h2 font-bold mb-5">Highlighted Headlines</h2>
            <table class="w-full border-collapse">
              <thead class="text-xs font-bold uppercase bg-gray-200">
                <tr>
                  <th class="p-3">Text</th>
                  <th class="p-3">CSS Class</th>
                  <th class="p-3">Font size</th>
                  <th class="p-3">Line height</th>
                  <th class="p-3">Font weight</th>
                </tr>
              </thead>
              <tbody>
                {{#each headlines}}
                <tr>
                  <td class="px-3 py-5 font-mono text-hl-{{this.code}} border border-gray-200">Headline {{@index}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">font-mono text-{{this.code}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">{{this.size}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">{{this.height}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">Regular</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>

          <!-- * Body -->
          <div class="col-span-full pb-20 mb-20 border-b border-gray-200">
            <h2 class="text-h2 font-bold mb-5">Body</h2>
            <table class="w-full border-collapse">
              <thead class="text-xs font-bold uppercase bg-gray-200">
                <tr>
                  <th class="p-3">Text</th>
                  <th class="p-3">CSS Class</th>
                  <th class="p-3">Font size</th>
                  <th class="p-3">Line height</th>
                  <th class="p-3">Font weight</th>
                </tr>
              </thead>
              <tbody>
                {{#each body}}
                <tr>
                  <td class="px-3 py-5 text-{{this.code}} border border-gray-200">Text {{this.name}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">text-{{this.code}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">{{this.size}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">{{this.height}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">Regular</td>
                </tr>
                <tr>
                  <td class="px-3 py-5 text-{{this.code}} font-bold border border-gray-200">Text {{this.name}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">text-{{this.code}} font-bold</td>
                  <td class="px-3 py-5 text-center border border-gray-200">{{this.size}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">{{this.height}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">Bold</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>

          <!-- * HIGHLIGHTED Body -->
          <div class="col-span-full pb-20 mb-20 border-b border-gray-200">
            <h2 class="text-h2 font-bold mb-5">Highlighted Body</h2>
            <table class="w-full border-collapse">
              <thead class="text-xs font-bold uppercase bg-gray-200">
                <tr>
                  <th class="p-3">Text</th>
                  <th class="p-3">CSS Class</th>
                  <th class="p-3">Font size</th>
                  <th class="p-3">Line height</th>
                  <th class="p-3">Font weight</th>
                </tr>
              </thead>
              <tbody>
                {{#each body}}
                <tr>
                  <td class="px-3 py-5 font-mono text-{{this.code}} border border-gray-200">Text {{this.name}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">font-mono text-{{this.code}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">{{this.size}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">{{this.height}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">Regular</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>

          <!-- * List -->
          <div class="col-span-full pb-20 mb-20 border-b border-gray-200">
            <h2 class="text-h2 font-bold mb-5">List</h2>
            <table class="w-full border-collapse">
              <thead class="text-xs font-bold uppercase bg-gray-200">
                <tr>
                  <th class="p-3">Text</th>
                  <th class="p-3">CSS Class</th>
                  <th class="p-3">Font size</th>
                  <th class="p-3">Line height</th>
                  <th class="p-3">Font weight</th>
                </tr>
              </thead>
              <tbody>
                {{#each body}}
                <tr>
                  <td class="px-3 py-5 text-{{this.code}} border border-gray-200">
                    <ul class="list-disc list-outside pl-8">
                      <li>List {{this.name}}</li>
                    </ul>
                  </td>
                  <td class="px-3 py-5 text-center border border-gray-200">.text-{{this.code}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">{{this.size}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">{{this.height}}</td>
                  <td class="px-3 py-5 text-center border border-gray-200">Regular</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>

          <!-- * Text Content -->
          <div class="col-span-full pb-20 mb-20 border-b border-gray-200">
            <h2 class="text-h2 font-bold mb-5">Text Content</h2>
            <div class="-mt-5 mb-5">CSS Class: .block-txt (applied on the text container)</div>
            <div class="block-txt">
              <p>Leverage agile frameworks to provide a robust synopsis for <a href="">high level overviews</a>. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive innovation via workplace diversity and empowerment.</p>
              <blockquote>
                <p><strong>Bring to the table win-win survival strategies</strong> to ensure proactive domination. At the end of the day, going forward, a new normal that has evolved from generation X is on the runway heading towards a streamlined cloud solution. User generated content in real-time will have multiple touchpoints for offshoring.</p>
              </blockquote>
              <p><em>Capitalize on low hanging fruit to identify</em> a ballpark value added activity to beta test. Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
              <ul>
                <li>Podcasting operational change management inside of workflows to establish a framework.</li>
                <li>Taking seamless key performance indicators offline to maximise the long tail.</li>
                <li>Keeping your eye on the ball while performing a deep dive on the start-up mentality to derive convergence on cross-platform integration.</li>
              </ul>
              <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.</p>
              <ol>
                <li>Robusta, cultivar fair trade robust, dark flavour rich and turkish.</li>
                <li>Organic café au lait, americano dark single shot kopi-luwak saucer, half and half french press strong fair trade siphon.</li>
                <li>Chicory single shot, that, brewed as grounds skinny medium dripper seasonal.</li>
              </ol>
            </div>
          </div>

        </div>
      </div>
      {{> foot }}
    </div>
  </body>
</html>
