.home-template {
  .banner {
    background-size: auto 375px;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      background-color: #000;
      opacity: 0;
      transition: opacity 0.5s;
      width: 750px;
      left: 50%;
      margin-left: -375px;

      @media (min-width: $screen-md-min) {
        width: 60%;
        left: auto;
        right: 0;
        margin: 0
      }
    }

    &.transition {
      &:before {
        opacity: 1;
      }
    }

    @media (min-width: $screen-sm-min) {
      background-size: 750px auto;
    }

    @media (min-width: $screen-md-min) {
      background-size: auto 100%;
      background-position: right center;
      background-color: $gray-base;
      color: #fff;
    }

    @media (min-width: $screen-lg-min) {
      background-size: 60% auto;
    }

    .container {
      position: relative;
    }

    .mission {
      @include make-md-column(5);
      position: static;
      background-color: $gray-base;
      color: #fff;
      margin: 0 -15px;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
      text-transform: uppercase;
      font-weight: 900;

      h2 {
        margin: 0;
        font-size: 38px;
        font-weight: inherit;

        @media (min-width: $screen-md-min) {
          font-size: 42px;
        }

        @media (min-width: $screen-lg-min) {
          margin-top: 0.6em;
        }
      }

      p {
        font-style: italic;
        font-size: 20px;
        margin-top: 1em;
      }

      @media (min-width: $screen-md-min) {
        border-right: solid 2px #fff;
        height: 375px;
        margin: 0;
        padding-left: 0;
        padding-right: 30px;
      }
      @media (min-width: $screen-lg-min) {
        padding-right: 60px;
      }
    }

    .news {
      @include make-md-column(7);
      height: 375px;

      .carousel-indicators {
        bottom: auto;
        top: 30px;
        left: 30px;
        margin: 0;
        text-align: left;

        li {
          border-color: $gray-base;
          border-width: 2px;
          width: 10px;
          height: 10px;
          margin: 0;

          &.active {
            background-color: $gray-base;
          }
        }
      }

      .item {
        height: 375px;

        .carousel-caption {
          text-align: left;
          left: 20px;
          right: 0;
          bottom: 30px;
          text-shadow: none;
          padding: 0;
          text-decoration: none;

          &:before,
          &:after {
            content: '';
            display: block;
          }

          &:before {
            width: 10px;
            background-color: $brand-primary;
            position: absolute;
            top: -7px;
            bottom: -4px;
            left: -20px;
          }

          &:after {
            width: 10px;
            background-color: $gray-base;
            position: absolute;
            top: -7px;
            bottom: -4px;
            left: -10px;
          }

          &:hover {
            color: #fff;
          }

          @media (min-width: $screen-md-min) {
            left: 30px;
            right: 30px;
          }

          h3,
          p {
            display: inline;
            background-color: $gray-base;

            span {
              background-color: $gray-base;
              border-bottom: solid 8px $gray-base;
              position: relative;

              &:before {
                content: '';
                display: block;
                position: absolute;
                left: -20px;
                right: -10px;
                top: -8px;
                height: 8px;
                background-color: $gray-base;
                z-index: -1;
              }

              &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                right: -10px;
                bottom: -8px;
                left:-20px;
                background-color: $gray-base;
                z-index: -1;
              }
            }
          }


          h3 {
            text-transform: uppercase;
            font-weight: 900;

            span {
              &:before {
                //top: -10px;
                //height: 10px;
              }
            }

            @media (min-width: $screen-md-min) {
              font-size: 30px;
              line-height: 32px;
            }
          }

          p {
            font-weight: 300;

            &:before {
              content: '';
              display: block;
            }

            @media (min-width: $screen-md-min) {
              font-size: 22px;
              line-height: 30px;
            }
          }
        }

        &.project {
          .carousel-caption {
            &:before {
              background-color: $blue;
            }
          }
        }
      }
    }
  }

  .features {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;

    @media (min-width: $screen-md-min) {
      margin-top: 60px;
      margin-bottom: 0;
    }

    .feature {
      @include make-md-column(4);
      margin-bottom: 30px;

      a {
        text-decoration: none;
      }

      .image {
        display: inline-block;
        width: 175px;
        height: 175px;
        border-radius: 50%;
        border: solid 4px $green;
        background-position: center center;
        background-size: cover;
        position: relative;

        &:after {
          content: '';
          display: block;
          width: 4px;
          height: 20px;
          background-color: $green;
          position: absolute;
          bottom: -22px;
          left: 50%;
          margin-left: -2px;
        }
      }

      h3 {
        text-transform: uppercase;
        font-size: 24px;
      }

      &.two {
        .image {
          border-color: $red;
          &:after {
            background-color: $red;
          }
        }
        a {
          color: $red;

          &:hover,
          &:focus {
            color: darken($red, 15%);
          }
        }
      }

      &.three {
        .image {
          border-color: $blue;
          &:after {
            background-color: $blue;
          }
        }
        a {
          color: $blue;

          &:hover,
          &:focus {
            color: darken($blue, 15%);
          }
        }
      }
    }
  }

  .call-to-action {
    text-align: center;
    margin-bottom: 60px;

    a {
      display: block;
      border: solid 1px $gray-base;
      padding: 20px;
      color: inherit;
      text-decoration: none;

      &:hover {
        background-color: $gray-base;
        color: #fff;
      }
    }
  }

  .blog-latest {

    article {
      @include make-md-column(4);
      margin-bottom: 30px;

      @media (min-width: $screen-md-min) {
        height: 200px;
      }
    }

    .avatar {
      width: 80px;
      border-radius: 50%;
      float: left;

      & ~ * {
        margin-left: 100px;
      }

      @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
        display: none;

        & ~ * {
          margin-left: 0;
        }
      }
    }

    h4 {
      margin-top: 0;
      text-transform: uppercase;
    }

    a {
      color: inherit;
    }
  }
}
