@font-face {
    font-family: 'icomoon';
    src:    url('/assets/fonts/icons/icomoon.eot?x36dswf3ab');
    src:    url('/assets/fonts/icons/icomoon.eot?x36dswf3ab#iefix') format('embedded-opentype'),
            url('/assets/fonts/icons/icomoon.ttf?x36dswf3ab') format('truetype'),
            url('/assets/fonts/icons/icomoon.woff?x36dswf3ab') format('woff'),
            url('/assets/fonts/icons/icomoon.svg?x36dswf3ab#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin icon-font() {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"], [class*=" icon-"] {
    @include icon-font();
}

.icon-arrow-right:before {
  content: "\e919";
}
.icon-arrow-left:before {
  content: "\e91a";
}
.icon-close:before {
  content: "\e900";
}
.icon-mail:before {
  content: "\e911";
}
.icon-facebook-square:before {
  content: "\e913";
}
.icon-twitter:before {
  content: "\e914";
}
.icon-arrow-up:before {
  content: "\e915";
}
.icon-globe:before {
  content: "\e916";
}
.icon-envelope:before {
  content: "\e917";
}
.icon-chain:before {
  content: "\e918";
}
.icon-link:before {
  content: "\e918";
}
.icon-comments:before {
  content: "\e912";
}
.icon-link-external:before {
  content: "\e90d";
}
.icon-twitter2:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e901";
}
.icon-code-circle:before {
  content: "\e910";
}
.icon-forum-circle:before {
  content: "\e90f";
}
.icon-mail-circle:before {
  content: "\e90e";
}
.icon-working-circle:before {
  content: "\e907";
}
.icon-reading-circle:before {
  content: "\e908";
}
.icon-listening-circle:before {
  content: "\e909";
}
.icon-location-circle:before {
  content: "\e90a";
}
.icon-eating-circle:before {
  content: "\e90b";
}
.icon-twitter-circle:before {
  content: "\e90c";
}
.icon-home-circle:before {
  content: "\e906";
}
.icon-playing-circle:before {
  content: "\e905";
}
.icon-heart:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
