.prev-next {
  padding: 0;
  margin: 0;
  display: flex;

  li {
    display: block;
    cursor: pointer;

    span {
      display: none;
    }

    &::before {
      @include icon-font();
      color: $brand-primary;
    }

    &.prev {
      &::before {
        content: "\e91a";
      }
    }

    &.next {
      &::before {
        content: "\e919";
      }
    }
  }
}

.owl-dots {
  -webkit-tap-highlight-color: transparent;
  margin-top: $grid-gutter-width;

  .owl-dot {
    display: inline-block;
    outline: none;

    span {
      width: 9px;
      height: 9px;
      margin-right: 8px;
      background: rgba($brand-primary,0.25);
      display: block;
      -webkit-backface-visibility: visible;
      transition: opacity 200ms ease;
      border-radius: 50%;
    }

    &.active,
    &:hover {
      span {
        background: $brand-primary;
      }
    }
  }
}

.landing.page-template {

  .cta {
    a {
      @include btn;
      @include banner-button;

      @media (min-width: $screen-lg-min) {
        padding: 0.75em 1.75em;
      }
    }
  }

  .site-header {
    @media (max-height: 768px) {
      display: flex;
      flex-direction: column;
      min-height: 100vh;

      .banner {
        flex-grow: 1;
        display: flex;
        align-items: center;
      }
    }

    .banner {

      .rotate {
        text-transform: capitalize;
      }

      .cta {
        a {
          margin-top: 2em;
          margin-right: 1em;

          &:first-child {
            @include button-variant(#fff, $gray-base, $gray-base);
          }
        }
      }

      @media (min-width: $screen-md-min) {
        h2, h1 {
          font-size: 72px;
        }

        p {
          margin-top: 1em;
        }
      }

      @media (min-width: $screen-lg-min) {
        padding-top: 80px;
        padding-bottom: 80px;

        h2, h1 {
          font-size: 94px;
        }
      }
    }
  }

  .main {
    margin-bottom: 0;

    p {
      opacity: 0.75;
      line-height: 1.6;
    }
  }

  .primary-section {
    border-bottom: solid 4px $gray-lighter;
    padding-top: 50px;

    h2, h3 {
      color: $brand-primary;
    }

    &:first-child {
      padding-top: 0;
    }

    .intro {
      @media (min-width: $screen-sm-min) {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      }

      .text {
        font-size: 20px;

        @media (min-width: $screen-md-min) {
          font-size: 24px;
          width: percentage((10 / 12));
        }

        @media (min-width: $screen-lg-min) {
          width: percentage((8 / 12));
        }

        h2, h3 {
          @media (min-width: $screen-md-min) {
            font-size: 42px;
          }
          @media (min-width: $screen-lg-min) {
            font-size: 60px;
          }
        }
      }
    }

    .article-list-item {
      text-align: center;
      margin-bottom: $grid-gutter-width;
      display: flex;

      .inner {
        border: solid 4px $gray-lighter;
        border-radius: $border-radius-small;
        padding: $grid-gutter-width;
      }

      .image {
        display: inline-block;
         img {
           width: 100%;
         }
      }

      h1 {
        font-size: 20px;

        &:first-child {
          margin-top: 0;
        }
      }
    }

    .features {
      padding-top: $grid-gutter-width;
      padding-bottom: $grid-gutter-width;

      @media (min-width: $screen-md-min) {
        display: flex;
        justify-content: space-between;
        margin-left: -$grid-gutter-width/2;
        margin-right: -$grid-gutter-width/2;
      }

      .article-list-item {
        @media (min-width: $screen-md-min) {
          padding-left: $grid-gutter-width/2;
          padding-right: $grid-gutter-width/2;
          flex-grow: 1;
          flex-basis: 0;
        }

        .inner {
          margin-top: 72px;
        }

        .image {
          width: 116px;
          height: 50px;
          position: relative;

          img {
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -58px;
          }
        }

        .more {
          @include button-variant(#fff, $brand-primary, $brand-primary);
          margin-top: $padding-base-vertical;
        }
      }
    }

    .component-nav {
      display: none;

      @media (min-width: $screen-sm-min) {
        display: block;

        .prev-next {
          li::before {
            font-size: 40px;
          }
        }
      }
    }

    .components {
      padding-top: $grid-gutter-width;
      padding-bottom: $grid-gutter-width;

      .article-list-item {
        margin-left: $grid-gutter-width/2;
        margin-right: $grid-gutter-width/2;

        .image {
          position: relative;

          &::before {
            content: '';
            width: 80px;
            height: 80px;
            background-color: rgba($brand-primary,0.5);
            display: block;
            position: absolute;
            left: 50%;
            top: 0.2em;
            margin-left: -40px;
            z-index: -1;
            border-radius: 50%;
          }

          img {
            display: inline-block;
            width: 90px;
          }
        }
      }

      @media (min-width: $screen-sm-min) {

        .owl-stage {
          display: flex;

          .owl-item {
            display: flex;
          }
        }

        .article-list-item {
          display: flex;

          & > .inner {
            width: 260px;
            display: flex;
            flex-direction: column;
          }

          .description {
            flex-grow: 1;
          }
        }
      }
    }
  }

  .secondary-section {
    $aside-colour: $brand-primary;
    position: relative;
    z-index: 1;

    @media (min-width: $screen-md-min) {
      &::before {
        content: '';
        position: absolute;
        top: -4px;
        left: 50%;
        right: 0;
        bottom: 0;
        background-color: rgba($aside-colour,0.1);
        z-index: -1;
      }
    }

    .container {
      display: flex;
      flex-direction: column-reverse;

      @media (min-width: $screen-md-min) {
        flex-direction: row;
        align-items: center;

        & > div {
          width: percentage((6 / 12));

          &:first-child {
            padding-right: $grid-gutter-width;
          }
          &:last-child {
            padding-left: $grid-gutter-width;
          }
        }
      }
    }

    .content {
      @media (min-width: $screen-sm-min) {
        font-size: 18px;
      }
    }

    .testimonials {
      background-color: rgba($aside-colour,0.1);
      color: $aside-colour;
      padding: $grid-gutter-width;

      .owl-dots {
        .owl-dot {
          span {
            background: rgba($aside-colour,0.25);
          }
          &.active,
          &:hover {
            span {
              background: $aside-colour;
            }
          }
        }
      }

      @media (min-width: $screen-md-min) {
        background-color: rgba($aside-colour,0);
        padding-right: 0;

        .owl-stage {
          display: flex;

          .owl-item {
            display: flex;

            blockquote {
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
          }
        }
      }

      blockquote {
        border: none;
        margin: 0;

        @media (min-width: $screen-md-min) {
          padding-left: $grid-gutter-width;
          width: (($container-md - $grid-gutter-width) / 2) - $grid-gutter-width; // nasty explicit width for IE
        }

        @media (min-width: $screen-lg-min) {
          width: (($container-lg - $grid-gutter-width) / 2) - $grid-gutter-width; // nasty explicit width for IE
        }

        q {
          font-style: italic;
          position: relative;

          @media (min-width: $screen-md-min) {
            font-size: 26px;
          }

          &::before {
            position: absolute;
            font-size: 2em;
            left: -0.5em;
            top: -0.25em;
          }
        }

        footer {
          margin-top: 1em;
          color: $aside-colour;

          &::before {
            display: none;
          }
        }

        cite {
          font-style: normal;
        }
      }
    }
  }

  .logos {
    text-align: center;
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;

    span {
      display: block;
      margin: $padding-base-vertical $grid-gutter-width;
      filter: grayscale(100%);
      opacity: 0.75;

      @media (min-width: $screen-sm-min) {
        display: inline-block;
      }
    }

    img {
      height: 74px;
    }
  }

  section.cta {
    background-color: $brand-primary;
    color: #fff;
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;

    p {
      opacity: 1;
      margin: 0;
      @media (min-width: $screen-sm-min) {
        font-size: 22px;
      }
      @media (min-width: $screen-md-min) {
        font-size: 30px;
      }
    }

    a {
      @include button-variant(#fff,$gray-base, $gray-base);
    }

    .container {
      display: flex;
      align-items: center;

      :first-child {
        flex-grow: 1;
      }
    }
  }
}
