.page-template,
.team-template {

  .banner {
    background-color: $brand-primary;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;

    @media (min-width: $screen-md-min) {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h2 {
      font-size: 42px;
      text-transform: uppercase;
      margin: 0;
      font-weight: 900;
    }

    p {
      font-size: 20px;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
      margin: 0.1em 0 0 0;
    }
  }

  .main {
    margin-top: 30px;
    margin-bottom: 30px;

    @media (min-width: $screen-md-min) {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    & > div {
      @include make-row();

      nav {
        display: none;

        #side-nav {
          width: 100%;
        }

        #outer-nav{
          overflow: hidden;
          height: 100%;
        }

        @media (min-width: $screen-md-min) {
          display: block;

          &.mm-menu {
            background-color: $body-bg;
            height: 30vh;


            .mm-prev:before {
              left: 8px;
              border-color: $brand-primary;
            }

            .mm-navbar {
              text-align: left;
              padding: 0 20px;
              border: none;

              .mm-title {
                color: $text-color;
                text-transform: uppercase;
              }
            }

            .mm-listview {
              & > li:last-child {
                &:after {
                  display: none;
                }
              }
              .mm-next:before {
                display: none;
              }
            }
          }
        }
        @include make-md-column(3);
      }

      article {
        @include make-md-column(9);
        @include make-lg-column(8);
        @include make-lg-column-offset(1);
        overflow: hidden; // prevent scrollbar

        & > :first-child {
          margin-top: 0;
        }
      }
    }
  }
}
