.page-template,
[class$="-template"]:not(.home-template) {

  .banner {
    background-color: $brand-primary;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;

    @media (min-width: $screen-md-min) {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    h2, h1 {
      font-size: 42px;
      margin: 0;
      font-weight: 900;
      color: inherit;
    }

    p {
      font-size: 20px;
      margin: 0.1em 0 0 0;
      color: rgba(#fff,0.8);
    }

    .btn {
      @include banner-button;
    }

    @media (min-width: $screen-lg-min) {
      padding-top: 60px;
      padding-bottom: 60px;

      h2, h1 {
        font-size: 72px;
      }

      p {
        font-size: 24px;
        margin-top: 0.5em;
      }
    }

    & + .plugin_picture {
      display: none;

      @supports (mix-blend-mode: overlay) {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        align-items: center;
        mix-blend-mode: overlay;

        img {
          display: block;
          width: 100%;
          @supports (object-fit: cover) {
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .main {
    margin-top: 30px;
    margin-bottom: 30px;

    @media (min-width: $screen-md-min) {
      margin-top: 50px;
      margin-bottom: 50px;
    }

    & > div {
      @include make-row();

      aside {
        @include make-md-column(3);
        overflow: hidden;

        #side-nav {
          width: 100%;
          display: none;
        }

        & > div {
          font-size: 14px;
          padding: 20px;
          background-color: $gray-lighter;
          margin-bottom: $grid-gutter-width;

          & > :first-child {
            margin-top: 0;
          }

          & > :last-child {
            margin-bottom: 0;
          }

          h3 {
            font-size: 16px;
            font-weight: normal;
            text-transform: uppercase;
          }
        }

        @media (min-width: $screen-md-min) {
          padding-left: 0;

          & > div {
            background-color: transparent;
          }

          #side-nav{
            &.mm-menu {
              background-color: $body-bg;
              height: 30vh;
              position: relative;

              .mm-prev:before {
                left: 8px;
                border-color: $brand-primary;
              }

              .mm-navbar {
                text-align: left;
                padding: 0 20px;
                border: none;

                .mm-title {
                  color: $text-color;
                  text-transform: uppercase;
                }
              }

              .mm-listview {
                & > li:last-child {
                  &:after {
                    display: none;
                  }
                }
                .mm-next:before {
                  display: none;
                }
              }
            }
          }
        }

        & + article {
          @include make-md-column(9);
          @include make-lg-column(8);
          @include make-lg-column-offset(1);
          overflow: hidden; // prevent scrollbar

          & > :first-child {
            margin-top: 0;
          }
        }
      }
    }
  }
}
