[class$="-template"].services {

  .site-header {
    $header-bg: $gray-base;
    $header-col: #fff;

    background-color: $header-bg;

    .brand {
      .a,
      .b {
        fill: $header-col;
      }
    }

    nav {
      & > .primary > li > a:not(:hover) {
        color: $header-col;
      }

      .primary {
        & > li {
          &:not(.search) {
            border-color: rgba($header-bg,0);
          }

          &.active > a {
            background-color: $header-col;
            color: $header-bg;
          }

          &.has-children {
            &:hover {
              border-color: $gray-lighter;

              & > a {
                color: $text-color;
              }
            }
          }
        }

        label[for="search"] {
          background-color: $header-col;
          color: $header-bg;
        }
      }

      .secondary > li > a {
        color: $header-col;
      }
    }

    .show-menu {
      color: $header-col;
    }

    .banner {
      background-color: rgba($header-bg,0);

      .container {
        position: relative;
        z-index: 2;
      }

      .cta {
        a {
          color: $gray-base;

          &:first-child {
            @include button-variant(#fff, $brand-commercial, $brand-commercial);
          }
        }
      }

      .banner-pattern {
        display: none;
      }

      @supports (mix-blend-mode: multiply) {
        .banner-pattern {
          display: block;
          position: absolute;
          z-index: 1;
          mix-blend-mode: multiply;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          overflow: hidden;

          svg {
            position: absolute;
            left: 0;
            right: 0;
            bottom: -16vw;
            height: auto;
            fill: $brand-commercial;
          }
        }
      }
    }

    .search-bar {
      background-color: $gray-base;
      color: #fff;

      .container {
        .input {
          input[type="text"] {
            border-bottom-color: #fff;
          }
        }
        .buttons {
          button {
            &.cancel {
              box-shadow: inset 0px 0px 0px 2px #fff;
            }
          }
        }
      }
    }
  }

  .primary-section {
    &:first-child {

      .intro {
        h2, h3 {
          color: $brand-commercial;
        }
      }
    }
  }

  &.landing {

    .site-header {
      background-image: url("../img/services-banner.jpg");
      background-position: right top;
      background-size: cover;
    }

    .banner .banner-pattern svg {
      bottom: 0;
    }

    .features {
      padding-top: $grid-gutter-width;
      padding-bottom: $grid-gutter-width;

      @media (min-width: $screen-md-min) {
        display: flex;
        justify-content: space-between;
        margin-left: -$grid-gutter-width/2;
        margin-right: -$grid-gutter-width/2;
      }

      .article-list-item {
        .more {
          @include button-variant(#fff, $brand-commercial, $brand-commercial);
        }
      }
    }

    .secondary-section {
      $aside-colour: $brand-commercial;

      @media (min-width: $screen-md-min) {
        &::before {
          background-color: rgba($aside-colour,0.1);
        }
      }

      .testimonials {
        background-color: rgba($aside-colour,0.1);
        color: $aside-colour;

        @media (min-width: $screen-md-min) {
          background-color: rgba($aside-colour,0);
        }

        .owl-dots {
          .owl-dot {
            span {
              background: rgba($aside-colour,0.25);
            }
            &.active,
            &:hover {
              span {
                background: $aside-colour;
              }
            }
          }
        }

        blockquote {
          footer {
            color: $aside-colour;
          }
        }
      }
    }
  }

  section.cta {
    a {
      @include button-variant(#fff,$brand-commercial, $brand-commercial);
    }
  }
}

.services.article-template {
  article {
    .plugin_picture {
      border-color: $brand-commercial;
    }
  }
}
