// Colours

$green: #61BC30;
$red: #DA2E29;
$blue: #29A5DA;
$gray-base: #333; //BS
$gray-light: #f0f0f0; //BS
$brand-primary: $green; //BS
$text-color: $gray-base; //BS

// Typography

$font-family-sans-serif:  lato, "Helvetica Neue", Helvetica, Arial, sans-serif; //BS
$font-size-base: 16px; //BS
$icon-font-path: "vendor/bootstrap-sass/assets/fonts/bootstrap/"; //BS Glyphicons
$headings-font-weight: 600; //BS


// Components

$border-radius-base: 2px; //BS


// Forms
$input-border-focus: $gray-base; //BS
