// Colours

$green: #61BC30;
$green-dark: #56A329;
$red: #DA2E29;
$blue: #29A5DA;
$purple: #9F42D0;
$gray-base: #333; //BS
$gray-light: #767676; //BS
$gray-lighter: #f0f0f0; //BS
$brand-primary: $green; //BS
$brand-success: $green; //BS
$brand-info: $blue; //BS
$brand-danger: $red; //BS
$text-color: $gray-base; //BS
$brand-commercial: $purple;
$brand-primary-text: $green-dark;
$link-color: $brand-primary-text; //BS

// Typography

$font-family-sans-serif:  lato, "Helvetica Neue", Helvetica, Arial, sans-serif; //BS
$font-size-base: 16px; //BS
$icon-font-path: "/assets/vendor/bootstrap-sass/assets/fonts/bootstrap/"; //BS Glyphicons
$headings-font-weight: 600; //BS


// Components

$border-radius-base: 2px; //BS
$border-radius-large: 3px; //BS
$border-radius-small: 1px; //BS


// Forms
$input-border-focus: $gray-base; //BS
