{% load menu_tags %}
{% for child in children %}
{# child properties: selected, ancestor, sibling, descendant, children #}
<li class="{% if child.selected %}active{% endif %}{% if child.children or child.level == 1 %} main-nav__item -has-submenu has-children{% endif %}">
  <a class="{% if child.children  or child.level == 1  %} labeled {% endif %}" {% if child.attr.soft_root %}{% else %}href="{{ child.attr.redirect_url|default:child.get_absolute_url }}{% endif %}">{{ child.get_menu_title }}</a>
   {% if child.children %}
    <ul class="submenu">
      {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
   </ul>
   {% endif %}
</li>
{% endfor %}
