html {
  font-size: 16px;

  @include media-breakpoint-up(md) {
    font-size: 17px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 18px;
  }
}

a:not([class]) {
  @include link-underline;
}
