$font-path-lato: "../fonts/LatoLatin/";

/* Webfont: LatoLatin-Hairline */
// @font-face {
//     font-family: 'Lato';
//     src: url('#{$font-path-lato}LatoLatin-Hairline.eot'); /* IE9 Compat Modes */
//     src: url('#{$font-path-lato}LatoLatin-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('#{$font-path-lato}LatoLatin-Hairline.woff2') format('woff2'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-Hairline.woff') format('woff'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-Hairline.ttf') format('truetype');
//     font-style: normal;
//     font-weight: 100;
// }

/* Webfont: LatoLatin-HairlineItalic */
// @font-face {
//     font-family: 'Lato';
//     src: url('#{$font-path-lato}LatoLatin-HairlineItalic.eot'); /* IE9 Compat Modes */
//     src: url('#{$font-path-lato}LatoLatin-HairlineItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('#{$font-path-lato}LatoLatin-HairlineItalic.woff2') format('woff2'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-HairlineItalic.woff') format('woff'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-HairlineItalic.ttf') format('truetype');
//     font-style: italic;
//     font-weight: 100;
// }

/* Webfont: LatoLatin-Thin */
// @font-face {
//     font-family: 'Lato';
//     src: url('#{$font-path-lato}LatoLatin-Thin.eot'); /* IE9 Compat Modes */
//     src: url('#{$font-path-lato}LatoLatin-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('#{$font-path-lato}LatoLatin-Thin.woff2') format('woff2'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-Thin.woff') format('woff'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-Thin.ttf') format('truetype');
//     font-style: normal;
//     font-weight: 200;
// }

/* Webfont: LatoLatin-ThinItalic */
// @font-face {
//     font-family: 'Lato';
//     src: url('#{$font-path-lato}LatoLatin-ThinItalic.eot'); /* IE9 Compat Modes */
//     src: url('#{$font-path-lato}LatoLatin-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('#{$font-path-lato}LatoLatin-ThinItalic.woff2') format('woff2'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-ThinItalic.woff') format('woff'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-ThinItalic.ttf') format('truetype');
//     font-style: italic;
//     font-weight: 200;
// }

/* Webfont: LatoLatin-Light */
// @font-face {
//     font-family: 'Lato';
//     src: url('#{$font-path-lato}LatoLatin-Light.eot'); /* IE9 Compat Modes */
//     src: url('#{$font-path-lato}LatoLatin-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('#{$font-path-lato}LatoLatin-Light.woff2') format('woff2'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-Light.woff') format('woff'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-Light.ttf') format('truetype');
//     font-style: normal;
//     font-weight: 300;
// }

/* Webfont: LatoLatin-LightItalic */
// @font-face {
//     font-family: 'Lato';
//     src: url('#{$font-path-lato}LatoLatin-LightItalic.eot'); /* IE9 Compat Modes */
//     src: url('#{$font-path-lato}LatoLatin-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('#{$font-path-lato}LatoLatin-LightItalic.woff2') format('woff2'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-LightItalic.woff') format('woff'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-LightItalic.ttf') format('truetype');
//     font-style: italic;
//     font-weight: 300;
// }

/* Webfont: LatoLatin-Regular */
@font-face {
    font-family: 'Lato';
    src: url('#{$font-path-lato}LatoLatin-Regular.eot'); /* IE9 Compat Modes */
    src: url('#{$font-path-lato}LatoLatin-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path-lato}LatoLatin-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('#{$font-path-lato}LatoLatin-Regular.woff') format('woff'), /* Modern Browsers */
         url('#{$font-path-lato}LatoLatin-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

/* Webfont: LatoLatin-Italic */
@font-face {
    font-family: 'LatoLatinWeb';
    src: url('#{$font-path-lato}LatoLatin-Italic.eot'); /* IE9 Compat Modes */
    src: url('#{$font-path-lato}LatoLatin-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path-lato}LatoLatin-Italic.woff2') format('woff2'), /* Modern Browsers */
         url('#{$font-path-lato}LatoLatin-Italic.woff') format('woff'), /* Modern Browsers */
         url('#{$font-path-lato}LatoLatin-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: normal;
}

/* Webfont: LatoLatin-Medium */
@font-face {
    font-family: 'Lato';
    src: url('#{$font-path-lato}LatoLatin-Medium.eot'); /* IE9 Compat Modes */
    src: url('#{$font-path-lato}LatoLatin-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path-lato}LatoLatin-Medium.woff2') format('woff2'), /* Modern Browsers */
         url('#{$font-path-lato}LatoLatin-Medium.woff') format('woff'), /* Modern Browsers */
         url('#{$font-path-lato}LatoLatin-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}

/* Webfont: LatoLatin-MediumItalic */@font-face {
    font-family: 'Lato';
    src: url('#{$font-path-lato}LatoLatin-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('#{$font-path-lato}LatoLatin-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path-lato}LatoLatin-MediumItalic.woff2') format('woff2'), /* Modern Browsers */
         url('#{$font-path-lato}LatoLatin-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('#{$font-path-lato}LatoLatin-MediumItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 500;
}

/* Webfont: LatoLatin-Semibold */
// @font-face {
//     font-family: 'Lato';
//     src: url('#{$font-path-lato}LatoLatin-Semibold.eot'); /* IE9 Compat Modes */
//     src: url('#{$font-path-lato}LatoLatin-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('#{$font-path-lato}LatoLatin-Semibold.woff2') format('woff2'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-Semibold.woff') format('woff'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-Semibold.ttf') format('truetype');
//     font-style: normal;
//     font-weight: 600;
// }

/* Webfont: LatoLatin-SemiboldItalic */
// @font-face {
//     font-family: 'Lato';
//     src: url('#{$font-path-lato}LatoLatin-SemiboldItalic.eot'); /* IE9 Compat Modes */
//     src: url('#{$font-path-lato}LatoLatin-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('#{$font-path-lato}LatoLatin-SemiboldItalic.woff2') format('woff2'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-SemiboldItalic.woff') format('woff'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-SemiboldItalic.ttf') format('truetype');
//     font-style: italic;
//     font-weight: 600;
// }

/* Webfont: LatoLatin-Bold */
@font-face {
    font-family: 'Lato';
    src: url('#{$font-path-lato}LatoLatin-Bold.eot'); /* IE9 Compat Modes */
    src: url('#{$font-path-lato}LatoLatin-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path-lato}LatoLatin-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('#{$font-path-lato}LatoLatin-Bold.woff') format('woff'), /* Modern Browsers */
         url('#{$font-path-lato}LatoLatin-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: bold;
}

/* Webfont: LatoLatin-BoldItalic */
@font-face {
    font-family: 'Lato';
    src: url('#{$font-path-lato}LatoLatin-BoldItalic.eot'); /* IE9 Compat Modes */
    src: url('#{$font-path-lato}LatoLatin-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path-lato}LatoLatin-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('#{$font-path-lato}LatoLatin-BoldItalic.woff') format('woff'), /* Modern Browsers */
         url('#{$font-path-lato}LatoLatin-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: bold;
}

/* Webfont: LatoLatin-Heavy */
// @font-face {
//     font-family: 'Lato';
//     src: url('#{$font-path-lato}LatoLatin-Heavy.eot'); /* IE9 Compat Modes */
//     src: url('#{$font-path-lato}LatoLatin-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('#{$font-path-lato}LatoLatin-Heavy.woff2') format('woff2'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-Heavy.woff') format('woff'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-Heavy.ttf') format('truetype');
//     font-style: normal;
//     font-weight: 800;
// }

/* Webfont: LatoLatin-HeavyItalic */
// @font-face {
//     font-family: 'Lato';
//     src: url('#{$font-path-lato}LatoLatin-HeavyItalic.eot'); /* IE9 Compat Modes */
//     src: url('#{$font-path-lato}LatoLatin-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('#{$font-path-lato}LatoLatin-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-HeavyItalic.woff') format('woff'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-HeavyItalic.ttf') format('truetype');
//     font-style: italic;
//     font-weight: 800;
// }

/* Webfont: LatoLatin-Black */
@font-face {
    font-family: 'Lato';
    src: url('#{$font-path-lato}LatoLatin-Black.eot'); /* IE9 Compat Modes */
    src: url('#{$font-path-lato}LatoLatin-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('#{$font-path-lato}LatoLatin-Black.woff2') format('woff2'), /* Modern Browsers */
         url('#{$font-path-lato}LatoLatin-Black.woff') format('woff'), /* Modern Browsers */
         url('#{$font-path-lato}LatoLatin-Black.ttf') format('truetype');
    font-style: normal;
    font-weight: 900;
}

/* Webfont: LatoLatin-BlackItalic */
// @font-face {
//     font-family: 'Lato';
//     src: url('#{$font-path-lato}LatoLatin-BlackItalic.eot'); /* IE9 Compat Modes */
//     src: url('#{$font-path-lato}LatoLatin-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//          url('#{$font-path-lato}LatoLatin-BlackItalic.woff2') format('woff2'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-BlackItalic.woff') format('woff'), /* Modern Browsers */
//          url('#{$font-path-lato}LatoLatin-BlackItalic.ttf') format('truetype');
//     font-style: italic;
//     font-weight: 900;
// }
