.home-template {
  overflow-x: hidden;

  .banner .container {
    flex-direction: column;

    @include media-breakpoint-up(lg) {
      position: relative;
      flex-direction: row;

      &::before,
      &::after {
        width: 500px;
        position: absolute;
        z-index: -1;
      }

      &::before {
        content: url("../img/rectangle-blue.svg");
        top: -30px;
        left: -160px;
      }

      &::after {
        content: url("../img/rectangle-grey.svg");
        bottom: -125px;
        right: 120px;
      }
    }
  }

  .banner_text {
    font-size: $size-font-lg;

    p {
      @include media-breakpoint-up(lg) {
        max-width: 34ch;
      }
    }
  }

  .article-list-item {
    margin-top: $size-spacing-xl;
    font-size: $size-font-lg;

    .inner {
      display: flex;

      @include media-breakpoint-up(md) {
        align-items: center;
      }

    }

    .image {
      display: block;
      flex-grow: 0;
      flex-shrink: 0;
      width: 25vw;
      margin-right: $size-spacing-xl;
      position: relative;

      @include media-breakpoint-up(lg) {
        width: 440px;
        margin-right: $size-spacing-xxl;

        &::before {
          width: 500px;
          position: absolute;
          z-index: -1;
          content: url("../img/rectangle-blue.svg");
          bottom: -110px;
          left: 30px;
          opacity: 0.5;
        }
      }

      @include media-breakpoint-up(xl) {
        width: 490px;
      }
    }

    .text {
      flex-grow: 1;
    }

    img {
      width: 100%;
    }

    h1 {
      font-size: $size-font-xxl;

      @include media-breakpoint-up(lg) {
        font-size: $size-font-xxxxl;
      }
    }

    @include media-breakpoint-up(lg) {


      &:nth-child(even) {
        .inner {
          flex-direction: row-reverse;
        }

        .image {
          margin-right: 0;
          margin-left: $size-spacing-xxl;

          &::before {
            content: url("../img/rectangle-grey.svg");
            left: auto;
            right: 30px;
          }
        }
      }

      &:last-child {
        .image {
          &::before {
            bottom: -30px;
          }
        }
      }
    }
  }

  .site-footer {
    margin-top: $size-spacing-xxl;
  }
}

.home_section-heading {
  font-size: $size-font-base;
  margin-top: $size-spacing-xxl;
  font-weight: normal;
}

// form errors
ul.errorlist {
  list-style-type: none;
}

ul.errorlist > li {
  color: $primary;
}
