{% load markdown_deux_tags %}
<article class="article-list-item">
  <div class="inner">
    {% if instance.image %}
    <a class="image"{% if instance.call_to_action_url %} href="{{ instance.call_to_action_url }}"{% endif %}>
      <img src="{{ instance.image.url }}" alt="" />
    </a>
    {% endif %}
    <div class="text">
      <h1 class="title">{% if instance.call_to_action_url %}<a class="title_link" href="{{ instance.call_to_action_url }}">{% endif %}{{ instance.title }}{% if instance.call_to_action_url %}</a>{% endif %}</h1>
      {% if instance.description %}
      <div class="description">
        {{ instance.description|markdown }}
      </div>
      {% endif %}
      {% if instance.call_to_action_text %}
      <a class="more"{% if instance.call_to_action_url %} href="{{ instance.call_to_action_url }}"{% endif %}>{{ instance.call_to_action_text }}</a>
      {% endif %}
    </div>
  </div>
</article>
