<!-- hero -->
<section class="sect sect-hero">
  <div class="sect__content">
    <div class="lg:flex lg:gap-x-8 lg:items-center">
      <div class="flex-shrink-0">
         <div class="mb-10 lg:mb-0 flex-shrink-0">
           <img class="mx-auto" src="{{ instance.image.url }}" alt="{{ instance.image_alt }}">
         </div>
      </div>
      <div class="flex-grow">
         <h1 class="text-h1 !leading-tight">
           <strong>{{ instance.text }}</strong>
         </h1>
      </div>
    </div>
  </div>
</section>
<!-- /hero -->
